body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editor {
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    margin-bottom: 10px;
    &:first-child {
      font-size: 30px;
    }
  }
}

.title-editor {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: none;
  width: 100%;
  font-size: 22px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: block;
}

.editor-page {
  padding-bottom: 30px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.editor-save {
  width: 250px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  display: block;
}

.logo-link {
  text-decoration: none;
}
